language: cpp
#To uncomment in case a core occurs:
#sudo: required
addons:
 apt:
  sources:
   - ubuntu-toolchain-r-test
  packages:
   - libxml2-dev 
   - libusb-1.0-0-dev
   - libcurl4-openssl-dev
   - libgtest-dev
   - gcc-4.8
   - g++-4.8
#To uncomment in case a core occurs:
#   - gdb
before_script:
 - export CXX=g++-4.8
script: 
#To uncomment in case a core occurs:
# - ulimit -c unlimited
# - sudo sysctl kernel.core_pattern=core
 - make debug
#To uncomment in case a core occurs:
# - find ./ -name 'core*'
# - for i in $(find ./ -name 'core*' -print); do gdb kalenji_reader $i -ex "thread apply all bt" -ex "set pagination 0" -batch; done;
